<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-black">
        <p>This site was create by <a href="https://chastitywhiterose.com/">Chastity White Rose</a> who is a board member for <a href="https://www.rainbowprolife.org/">Rainbow Pro-Life Alliance</a>.</p>
        <p>
        The Rainbow Pro-Life Alliance (RPLA) is a nonsectarian, nonpartisan, educational organization that promotes the pro-life ethic within the LGBT+ community while encouraging involvement within the pro-life community. 
	Our particular emphasis is on the unborn and the needs of their parents. We promote collaboration within the pro-life movement.
        </p> 
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>

